@import 'constants';

.notesList {
    &__container {
      padding-left: 30px;
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;
    }
    &__back {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-top: 10px;
      margin-left: 30px;
      background-color: white;
      color: $primaryColor;
      border: 2px solid $primaryColor;
      &:hover {
        color: $secondaryColor;
        border: 2px solid $secondaryColor;
      }
    }
  }